*{
    margin: 0; padding: 0;
}
html{
    font-size: 16px; color:#333;
    font-family: 'Lato', sans-serif;
}
header{
    height: 100vh;
    background-image:  linear-gradient(rgba(0, 0,0, 0.7),rgb(0, 0,0,0.7)),
    url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 20px;
    height: 100px;
}
.main-nav{
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}
.main-nav li a:hover{
    color: orange;
    text-decoration: underline;
}
.hero-box{
    position: absolute;
    top: 40%;
    left: 20%;
}
h1{
    color:white;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 30px;
}
.btn{
    border: solid 1px orange;
    margin-right: 15px;
    padding: 7px 15px;
    border-radius: 15px;
    color: orange;
    text-decoration: none;

}
.btn:hover{
    color: white;
    background-color: orange;
}
section{
    padding: 40px 0px;
}
h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: center;
}
hr{
    width: 100px;
    margin: 20px auto;
    border: solid 3px orange;
    border-radius: 3px;
}
.features-text{
    width: 60%;
    margin-left: 20%;
    line-height: 1.5;
    margin-bottom: 30px;
}

.bedo{
    text-align: center;
}
.bedo i{
    color: orange;
    font-size: 36px;
    margin-bottom: 20px;
}
.bedo h3{
    margin-bottom: 20px;
}
.bedo p{
    text-align: justify;
}

#meals{
    padding: 0;
}
#meals .row{
    margin: 0;
}
.meals{
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.meals img{
    width: 100%;
    margin-bottom: -5px;
    opacity: 0.6;
    transform: scale(1.2);
    transition: 1s;
}
.meals img:hover{
    opacity: 1;
    transform: scale(1);
}

#works{
    background-color: #ddd;
}
.iPhone{
    width: 40%;
}
.work:first-child{
    text-align: right;
    padding-right: 2%;
}
.work:last-child{
    text-align: left;
    padding-left: 2%;
}
.step{
    display: flex;
    margin-bottom: 30px;
    align-items: center;  
}

.step span{
    border: solid 2px orange;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.work:last-child a{
    margin-right: 15px;
}
.work:last-child img{
    height: 50px;
}

.city img{
    width: 100%;
    margin-bottom: 10px;
}
.city h3{
    text-align: center;
    margin-bottom: 10px;
}

.city-info{
    margin-bottom: 10px;
}
.city-info i{
    margin-right: 10px;
    color: orange;
}

#testimonials{
    background-image:  linear-gradient(rgba(0, 0,0, 0.7),rgb(0, 0,0,0.7)),
    url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#testimonials{
    background-image:  linear-gradient(rgba(0, 0,0, 0.7),rgb(0, 0,0,0.7)),
    url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#testimonials i{
    font-size: 20px;
    margin-left: -20px;
    margin-bottom: 30px;
}
#testimonials p{
    line-height: 1.5;
    margin-bottom: 30px;
    font-style: italic;
}
#testimonials img{
    width: 60px; height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

#pricing{
    background-color: #ffebcd;
}
.inner{
    background-color: white;
    width: 90%;
    margin: auto;
}
.offer-header , .offer-body{
    border-bottom: solid 2px #ddd;
    padding: 2%;
}
    
.offer-header h3{
    margin-bottom: 10px;
}


.price{
    color: orange;
}

.price span{
    font-weight: bold;
    font-size: 2rem;
}

.prop{
  display: flex;
  margin-bottom: 15px;
}

.prop i{
    color: orange;
    margin-right: 15px;
}
.offer-footer{
    padding: 5%;
    text-align: center;
}
.offer-footer a{
    border: solid 1px orange;
    margin-right: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    color: orange;
    text-decoration: none;
}
label{
          
    color: orange;
    font-size: 18px;

}

input[type=text] , input[type=email], select , textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
}

select{
    width: 105.5%;
}

input[type=checkbox] {
    margin-bottom: 15px;
}

button{
    border: solid 1px orange;
    margin-right: 15px;
    padding: 12px 30px;
    border-radius: 5px;
    color: orange;
    text-decoration: none;
    background-color: white;
}


footer{
    padding: 50px 100px;
    background-color: #333;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.footer-nav{
   list-style: none;
}

.footer-nav li{
display: inline-block;
margin-left: 10px;
}

.footer-nav li a{
color: white;
text-decoration: none;
}

.footer-nav li a:hover{
color: orange;
text-decoration: underline;
}

.social-nav{
list-style: none;
float: right;
}

.social-nav li{
display: inline-block;
margin-left: 10px;
}

.social-nav li a{
color: white;
text-decoration: none;
}

.social-nav li a:hover{
color: orange;
text-decoration: underline;
}


